# This requirements file specifies the dependencies for the QuickCompress project.
# Minimum Python version required: 3.8

pillow==12.1.1
pillow-avif-plugin==1.5.5
pytest==9.0.2
pytest-qt==4.5.0
PyQt6==6.11.0
